.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    display: flex;
    margin: 20px;
    padding: 1em 7em 2em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 35px;
    border-radius: 50px 50px 50px 50px;
    flex-direction: column;
    width: 40%;
    min-width: 500px;
}

@media (max-width: 768px) {
    .form-container {
        border: none;
    }
}

.form-container > h1,h2 {
    color: var(--clr-primary-dark);
    margin: 0 auto 20px;
    padding: 0;
}

.form-container > h2 {
    font-size: var(--secondary-heading-font-size);
}

.multiple-inputs {
    display: flex;
    gap: 2em;
}

.sign-up-form {
    display: flex;
    flex-direction: column;    
}

.note {
    font-size: var(--minor-font-size);
    margin-top: 5px;
}

.note-list {    
    padding-left: 20px;
    color: var(--clr-primary-light);
    margin-top: 5px;
}


.error-message {
    font-size: var(--minor-font-size);
    color: var(--clr-primary-dark);
    overflow-wrap: break-word;
    max-width: 100%;
}