:root {
    --clr-primary-dark: #00416B;
    --clr-primary-light: #00A0AF;
    --clr-light-background: #f5f5f5;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.13rem;
    font-family: Arial, sans-serif;
    background-color: var(--clr-light-background);
    color: var(--clr-primary-dark);
}