@import 'tailwindcss';

@theme {
  --color-primary-dark: #00416b;
  --color-primary-light: #00a0af;
  --color-light-background: #f5f5f5;
  --font-size-body: 1.13rem;
  --font-size-primary-heading: 2.19rem;
  --font-size-secondary-heading: 1.9rem;
  --font-size-minor: 0.9rem;
}
